* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: black;
}
#box {
  height: 200px;
  width: 200px;
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img{
    height: 300px;
}