* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
   background-color: black;
   padding: 30px;
}

#main {
    display: flex;
    flex-direction: column; /* 👈 ek ke niche ek */
    gap: 15px;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px ;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
}
button{
  background-color: royalblue;
  color: #fff;
  padding: 10px;

}
/* #elem:hover {
    background-color: #0f5dc8;
}

#elem:active {
    transform: scale(0.95);
} */
