*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#000;
  color:#fff;
  text-align:center;
}

h1{ margin:20px 0; }

.controls{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-bottom:20px;
  flex-wrap:wrap;
}

.controls button{
  padding:8px 14px;
  border:none;
  border-radius:6px;
}

.piano {
  display: flex;
  justify-content: center;
  transform: scale(0.75);
  transform-origin: top center;
}


.octave{
  position: relative;
  display:flex;
}

.key.white{
  width:60px;
  height:220px;
  background:white;
  border:1px solid #000;
  color:black;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  padding-bottom:10px;
  font-weight:bold;
}

.key.black{
  position:absolute;
  width:40px;
  height:140px;
  background:black;
  color:white;
  top:0;
  margin-left:-20px;
  z-index:10;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  padding-bottom:8px;
  font-size:13px;
}

.octave .black:nth-of-type(8){left:45px;}
.octave .black:nth-of-type(9){left:105px;}
.octave .black:nth-of-type(10){left:225px;}
.octave .black:nth-of-type(11){left:285px;}
.octave .black:nth-of-type(12){left:345px;}

.key.active{
  background:rgb(87, 220, 153) !important;
}
