* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilory';
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html, body {
  height: 100%;
  width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(54, 47, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
  transition: all linear 0.1s;
  pointer-events: none;
  height: 20px;
  width: 20px;
 border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  position:absolute;

}
h1{
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

